---
interface Props {
	title: string;
	lang?: string;
}

const { title, lang = "en" } = Astro.props;

// 定義不同語言對應的優化字體鏈接
const fontLinks = {
  zh: "https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lexend:wght@500&family=Playfair+Display:ital@1&family=Noto+Sans+TC:wght@300;400;500;600&family=Noto+Serif+TC:wght@400;500&text=VEQUALIAOriaLaminaKeePass01267©、。「」万上下世中之于人代体保們共关具出利前力助半取命啟在基境守將專對就工年徑思您慧成我所推據数數文於昇明是智最有本权根權注淬演澄灵為煉物犀理生由界留當發的皆盛真研確礎示禮私筆简築粹精約純緒繁约而華萬言計設語護讚象路透過邊量關隱靈非預预體魂，&display=swap",
  sc: "https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lexend:wght@500&family=Playfair+Display:ital@1&family=Noto+Sans+SC:wght@300;400;500;600&family=Noto+Serif+SC:wght@400;500&text=VEQUALIAOriaLaminaKeePass01267©“”、。万上下专世中为之于人代们体保共关具出利前力助升半华发取启命在基境守对将就工年徑思您成我所护推據数數文於明是智最有本权根權注淬演澄灵炼物犀理生由界留當的皆盛真研确礎示礼私笔筑简粹精約繁约纯绪而能萬言語计设象赞路边过通量關隐靈非預预體魂，&display=swap",
  en: "https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lexend:wght@500&family=Playfair+Display:ital@1&display=swap",
  fr: "https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Lexend:wght@500&family=Playfair+Display:ital@1&display=swap"
};

const currentFontLink = fontLinks[lang] || fontLinks.en;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href={currentFontLink} rel="stylesheet" />
	</head>
	<body>
		<slot />
		<script is:inline src="/main.js"></script>
	</body>
</html>
